html {
    font-size: 0.625em;
}

.mini-article-container {
    display: flex;
    margin: auto;
    margin-top: 10vh;
    /* width: auto; */
     max-height: 40.7em; 

    background: #FFFFFF;
    border-radius: 10px;

    -webkit-box-shadow: 6px 3px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 3px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 6px 3px 19px -8px rgba(0,0,0,0.75);

    box-sizing: border-box;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-bottom: 8rem;
}

.mini-article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5em;
}


.mini-article-image {
    /* I want this image to not scale up bigger than its original width value so I restrict its max-width*/
    /* I want this image to scale down when resize broser so I will need to use media queries*/ 
    max-width: 100%;
    /* height: auto; */
}

.mini-article-date-and-time {
    display: flex;
}

.mini-article-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 1.2rem 0 2rem 0;
    margin-top: 0;

    color: #000000;
}

.mini-article-description {
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.12em;

    color: #000000;
}

.mini-article-separator {
    margin: 2rem 10rem;

    /* Gold */

    border-top: 0.5px solid #FFC804;
}

.mini-article-date {

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);
}

.mini-article-read-time {
    

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.08em;
    padding-left: 5em;

    color: rgba(0, 0, 0, 0.6);
}

.mini-article-categories {
    

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.mini-article-categories-container {
}

.mini-article-categories span {
    text-decoration: underline;
    /* border-bottom: 1px solid; */
    /* color: #FF9900; */
    color: #FFC804;
}

.mini-article-categories span:not(:last-child)::after {
    content: " - ";
    color: rgba(0, 0, 0, 0.5);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mini-article-image {
        width: 50%;
    }

    .mini-article-title {
        font-size: 16px;
        letter-spacing: 0.08em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */