html {
    font-size: 0.625em;
    padding: 1em;
}

.mini-article {
    background: #FFFFFF;
    border-radius: 10px;

    -webkit-box-shadow: 6px 3px 19px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 3px 19px -8px rgba(0,0,0,0.75);
    box-shadow: 6px 3px 19px -8px rgba(0,0,0,0.75);

    box-sizing: border-box;
    padding: 2rem 3rem 3rem 3rem;
}

.mini-article--flex {
    display: flex;
    justify-content: space-between; 
}

.mini-article--flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}


.mini-article__image {
    /* I want this image to not scale up bigger than its original width value so I restrict its max-width*/
    /* I want this image to scale down when resize broser so I will need to use media queries*/ 
     max-width: 100%; 
     height: 307px;
     border-radius: 1em;
    /* height: auto; */
}

.mini-article__date-time {
    display: flex;
    text-transform: uppercase;
}

.mini-article__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    /* line-height: 28px; */
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 1.2rem 0 2rem 0;
    margin-top: 0;

    color: #000000;
    transition: all 1s ease;
}

.mini-article__title:hover {
    color: #FFC804;
    text-decoration: underline;
}

.mini-article__description {
    font-family: Merienda;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.12em;

    color: #000000;
}

.mini-article__separator {
     margin: 2rem 10rem; 

    /* Gold */
    /* border-top: 0.5px solid #FFC804; */
    /* border-bottom: 0.5px solid white; */
    height: 0.5px;
    background-color: #FFC804;
    border: none;
}

/* .mini-article-separator:after,
.mini-article-separator:before {
    content: '';
} */

.date-time__date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.16em;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.6);
}

.date-time__time {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 9px;
    letter-spacing: 0.08em;
    padding-left: 5em;

    color: rgba(0, 0, 0, 0.6);
}

.categories__category {
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}

.categories__category p:not(:first-of-type) {
    text-decoration: underline;
    /* border-bottom: 1px solid; */
    /* color: #FF9900; */
    color: #FFC804;
    margin-right: 0.4em;
}

/* .mini-article-categories span:not(:last-child)::after {
    content: " - ";
    color: rgba(0, 0, 0, 0.5);
} */

/* //////////////////////////      Media Queries         ///////////////////////////// */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mini-article--flex {
        display: flex;
        flex-direction: column-reverse; 
    }

    .mini-article {
        height: 100%; 
        padding: 2em;
    }

    .mini-article__description p:not(:nth-of-type(1)),
    .mini-article__separator,
    .categories__category p:first-of-type {
        display: none;
    }

    .mini-article__title {
        font-size: 16px;
        padding: 1.2rem 0 0 0;
    }

    .mini-article__image {
        height: auto;
    }

    .categories__category {
        line-height: 0px;
        font-size: inherit;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) and (max-width: 767px) {
     .mini-article {
        min-height: auto;
        padding-bottom: 2rem;
     }

    .mini-article__description p:not(:nth-of-type(1)),
    .mini-article__separator,
    .categories__category p:first-of-type {
        display: none;
    }

    .mini-article__image {
        height: 200px;
        width: 260px; 
    }

    .mini-article__title {
        padding: 1.2rem 0 0 0;
    }
 } 

/* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
     .mini-article__description {
        font-family: Merienda;
        font-style: normal;
        font-weight: bold;
        letter-spacing: 0.2em;

        color: #000000;
    }

    .mini-article__separator {
        display: block;
    }

    .mini-article__title {
        font-size: 2.8em;
        margin-bottom: 0;
    }

    .mini-article__image {
        height: 231px;
        width: 300px; 
    }

    /* .mini-article-date-and-time p {
        font-size: 1.4em;
    } */

    /* .mini-article-categories {
        font-size: 1.6em;
    } */
 } 

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */



